---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

{% include base_path %}

<h2>Upcoming Talks</h2>
{% assign upcoming_talks = site.talks | where_exp:"talk", "talk.date >= site.time" | sort: 'date' %}
{% for post in upcoming_talks %}
{% include talk-single.html post=post upcoming=true %}
{% endfor %}

<h2>Past Talks</h2>
{% assign past_talks = site.talks | where_exp:"talk", "talk.date < site.time" | sort: 'date' | reverse %} {% for post in
  past_talks %} {% include talk-single.html post=post %} {% endfor %}